<!DOCTYPE html>

<html lang="en">

<head>


	<title>列表</title>


	<meta charset="utf-8">


	<meta name="author" content="wangzy">


	<meta name="description" content=""/>


	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" href="/plugin/bootstrap-3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/reset.css">


	<link rel="stylesheet" type="text/css" href="/css/main_responsive.css">


    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>


    <script type="text/javascript" src="/js/carouFredSel.js"></script>


    <script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript" src="/plugin/bootstrap-3.3.7/js/bootstrap.min.js"></script>

	<link rel="icon" href="/favicon.png" />
	<style >
		.hide{
			display: none;
		}
	</style>		
</head>


<body>





	<header>


		<div class="wrapper">


			<img src="/img/logo.png" alt="Crafty" class="logo">


			<a href="#" class="menu_icon" id="menu_icon"></a>

			<nav id="nav_menu">

					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="/list/product?type=product">服务项目</a></li>
						<li><a href="/list/case?type=case">案例</a></li>
						<li><a href="/list/news?type=news">新闻</a></li>
						<li><a href="/about">关于我们</a></li>
					</ul>
	
				</nav>


		</div>
	</header><!--  End Header  -->





	<section class="billboard">


			<div class="wrapper">


				<div class="caption">


					<p>装逼的事情</p>


					<p>sunt culpa officia deserunt</p>


				</div>


			</div>


	</section><!--  End Billboard  -->





	<section class="content-wrap" style="background: #ebebeb">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">


<!--<article id="109" class="post tag-android tag-ke-hu-duan">

    <div class="post-head">
        <h1 class="post-title"><a href="/android-app-for-ghost/">Android 版 Ghost 客户端来了！</a></h1>
        <div class="post-meta">
            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
            <time class="post-date" datetime="2017年11月8日星期三下午4点44分" title="2017年11月8日星期三下午4点44分">2017年11月8日</time>
        </div>
    </div>
    <div class="featured-media">
        <a href="/android-app-for-ghost/"><img src="http://static.ghostchina.com/image/c/06/765c76cb1ca259dd8fe8002459bbc.jpg" alt="Android 版 Ghost 客户端来了！"></a>
    </div>
    <div class="post-content">
        <p>Ghost 从一开始就支持响应式 Web 使用体验，但是我们今天仍然向前迈出了一大步 -- 推出 Android 平台原生 APP ！ 我们一直试图为 Ghost 用户构建一个可靠的移动端 Web 体验，但不可避免地，它在它所能做的事情上仍然是相当受限的。即便是在 2017 年的</p>
    </div>
    <div class="post-permalink">
        <a href="/android-app-for-ghost/" class="btn btn-default">阅读全文</a>
    </div>


</article>--> 


<nav class="pagination hide" role="navigation">
		<a class="prev-posts"  href=""><</a>
    <span class="page-number">第 <span class="now_page">1</span> 页 ⁄ 共 <span class="total_page">2</span> 页</span>
        <a class="older-posts" href="">></a>
</nav>

</main>

<aside class="col-md-4 sidebar">
                <!-- start widget -->
<!-- end widget -->

<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">联系我们</h4>
	<div class="content community">
	    <p>云南恒隆环保有限责任公司</p>
		<p>办公室：0873-3727987</p>
		<p>地  址：云南省蒙自市天竺路与朝阳路交汇处</p>
		<p>邮  箱：henglonghuanbao@163.com</p>
	</div>
</div>
<!-- end tag cloud widget -->

<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">最新文章</h4>
	<div class="content tag-cloud">

	<a href="#">文章的标题</a>
	<a href="#">文章的标题文章的标题</a>
	<a href="#">文章的标题</a>
	<a href="#">文章的标题</a>
	<a href="#">文章的标题</a>
	<a href="#">文章的标题文章的标题文章的标题</a>
	<a href="#">文章的标题</a>
	<a href="#">文章的标题</a>


		<a href="/tag-cloud/">...</a>
	</div>
</div>
<!-- end tag cloud widget -->

<!-- start widget -->
<!-- end widget -->

<!-- start widget -->
<!-- end widget -->                </aside>

            </div>
        </div>
    </section>


	<footer>


		<img src="/img/logo_footer.png" alt="Crafty">


		<p class="rights">Copyright © www.jq22.com</p>


	</footer><!--  End Footer  -->


<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
<script type="text/javascript">
   $youziku.load(".fzpf1", "77255ff58e164cc58f60ad59e490795e", "YouYuan");

   $youziku.draw();
   $(function(){
	
		var all_data ;
		var total;
			function getUrlParam(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg);  //匹配目标参数
				if (r != null) return unescape(r[2]); return null; //返回参数值
			}
		function O_html(id,title,min_ctt,author,time,pic){
			var html = `<article id="`+id+`" class="post tag-android tag-ke-hu-duan">

				<div class="post-head">
					<h1 class="post-title"><a href="/details/`+id+`?id=`+id+`">`+title+`</a></h1>
					<div class="post-meta">
						<span class="author">作者：<a href="/author/wangsai/">`+author+`</a></span> •
						<time class="post-date" datetime="" title="">`+time+`</time>
					</div>
				</div>
				<div class="featured-media">
					<a href="/details/`+id+`?id=`+id+`"><img src="`+pic+`" alt="title"></a>
				</div>
				<div class="post-content">
					<p>`+min_ctt+`</p>
				</div>
				<div class="post-permalink">
					<a href="/details/`+id+`?id=`+id+`" class="btn btn-default">阅读全文</a>
				</div>
			</article>`

			return html;
		}
		var cur_type = getUrlParam('type');
		var cur_page = 1;
		getContent(cur_type);
		
		function getContent(type){
			$.ajax({
				url:'/action/all',
				type:'get',
				data:{"type":type}
			}).done(function(data){
				all_data =data;
				var len = data.docs.length;
				var page_size = Math.ceil(len / 5)
				total = page_size;

				var cur = getUrlParam("cur_page") || 1;
				total = Number(total)
				cur = Number(cur)
				if(cur === 1){
					$(".prev-posts").hide()
					$(".now_page").html(cur)
					$(".total_page").html(page_size)
					$(".prev-posts").attr("href","/list/news?type=news&cur_page=" + (cur - 1))
					$(".older-posts").attr("href","/list/news?type=news&cur_page=" + (cur + 1))
				}
				if(cur < total && cur !== 1){
					console.log(1)
					$(".prev-posts").show()
					$(".now_page").html(cur)
					$(".total_page").html(page_size)
					$(".prev-posts").attr("href","/list/news?type=news&cur_page=" + (cur - 1))
					$(".older-posts").attr("href","/list/news?type=news&cur_page=" + (cur + 1))
				}else if(cur === total){
					$(".prev-posts").show()
					$(".now_page").html(cur)
					$(".total_page").html(page_size)
					$(".prev-posts").attr("href","/list/news?type=news&cur_page=" + (cur - 1))
					$(".older-posts").hide()
				}
				var eachLen = cur * 5;
				if(data.docs.length > 0){

					if(eachLen >= len){
						eachLen = len
					}
					for(var i =(cur - 1) * 5;i<eachLen;i++){
						var min_ctt = data.docs[i].content
						var author = 'admin'
						var time = data.docs[i].time
						var static_img = 'http://static.ghostchina.com/image/c/06/765c76cb1ca259dd8fe8002459bbc.jpg'
						if(data.docs[i].cover !==""){
							$(O_html(data.docs[i].id,data.docs[i].title,min_ctt,author,time,data.docs[i].cover)).insertBefore($(".pagination"))
						}else{
							$(O_html(data.docs[i].id,data.docs[i].title,min_ctt,author,time,static_img)).insertBefore($(".pagination"))
						}
						
					}
					$(".post-content img").parent().remove()
					$(".post-content br").parent().remove()
					$(".pagination").removeClass("hide")
				}else{
					var html = `<div class="widget">
							<h4 class="title">内容提示</h4>
							<div class="content community">
								此版块暂时没有内容
							</div>
						</div>`	

					$(".main-content").append(html)
					
				}
			})
		}


   })
  
</script>


</body>


</html>